### Dot files ###
.*

### Git ###
!/.gitignore
!/.gitmodules

### Logs ###
logs
*.log

### Runtime data ###
pids
*.pid
*.seed

### NPM modules ###
node_modules

### Travis ###
!/.travis.yml

### Test coverage ###
spec/coverage

### Meta ###
meta
